<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <!-- google forms -->
 <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
 <!-- fontawesome -->
 <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
 <!-- stylesheet -->
 <link rel="stylesheet" href="/Styles/index2.css">
 <title>Contact</title>
 <link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-
Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
crossorigin="anonymous">
</head>
<body>
 <section class="colored-section" id="title">
 <div class="container-fluid">

 <!-- Nav Bar -->

 <nav class="navbar navbar-expand-lg navbar-dark">

 <a class="navbar-brand" href="home.html">WeatherBug&#176</a>

 <button class="navbar-toggler" type="button" data-toggle="collapse" datatarget="#navbarTogglerDemo02">
 <span class="navbar-toggler-icon"></span>
 </button>

 <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

 <ul class="navbar-nav ml-auto">
 <li class="nav-item">
 <a class="nav-link" href="home.html">Home</a>
 </li>
 <li class="nav-item">
 <a class="nav-link" href="contact.html">Contact</a>
 </li>
 <li class="nav-item">
 <a class="nav-link" href="#">Air-pollution</a>
 </li>
 <li class="nav-item">
 <a class="nav-link" href="home.html#pricing">Pricing</a>
 </li>
 <li class="nav-item">
 <a class="nav-link" href="home.html#forecast">Forecast</a>
 </li>
 </ul>

 </div>
 </nav>
 <!-- title -->

 <div class="row">
 <div class="col-lg-6">
 <h1 class="big-heading">Contact Information</h1>
 </div>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nobis sed libero accusamus
dolores aperiam magnam tempora, suscipit sint asperiores odio expedita explicabo repellendus et
laudantium neque omnis dolor veniam.</p>
 <br>
 <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, optio voluptates in odit
laboriosam illo distinctio saepe earum expedita veritatis, facilis tenetur ab voluptatibus, explicabo
voluptatum labore tempora id aut.</p>
 <div class="col-lg-6">
 <h1 class="big-heading">About Us</h1>
 </div>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro cumque iste repudiandae
fuga rem molestias ad a nemo exercitationem voluptates culpa quia eligendi maxime reiciendis iusto,
delectus earum praesentium quibusdam.</p>
 <br>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis numquam mollitia adipisci
officiis cum? Eveniet ea veniam, dolorum doloribus itaque eligendi, odio beatae recusandae velit
facilis nostrum dicta voluptatibus. Quidem!</p>
 </div>
 <!-- Footer -->
 <footer class="colored-section" id="footer">
 <div class="container-fluid ">
 <i class="social-icon fab fa-facebook-f icon icon-hover"></i>
 <i class="social-icon fab fa-twitter icon icon-hover"></i>
 <i class="social-icon fab fa-instagram icon icon-hover"></i>
 <i class="social-icon fas fa-envelope icon icon-hover"></i>
 <p>© Copyright Bhavya Anand</p>
 </div>
 </footer>



</body>
</html>