<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WeatherBug&#176</title>
    <link href="/Styles/index3.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384- w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</head>

<body style="background-color: #27272a">
    <nav class="navbar navbar-expand-lg bg-secondary">
        <div class="container-fluid">
            <a class="navbar-brand" href="home.html">WeatherBug&#176</a>
            <button class="navbar-toggler" type="button">
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="home.html">Air-Pollution</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="home.html#pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="index3.html">Forecast</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <div class="card weather-card">
        <div class="date">
            <div class="padding">Tuesday</div>
            <div class="padding">11th April 2023</div>
        </div>
        <div class="display-3 padding city">Delhi</div>
        <div class="display-1 temp padding">28&#176C</div>
        <div class="condition padding">15:14 &nbsp;&nbsp;&nbsp;Mostly Clear</div>
        <div class="contents">
            <div class="card ele">
                Sunset <br>
                <div class="display-6">18:25pm</div>
            </div>
            <div class="card ele">
                Wind Speed<br>
                <div class="display-6 windSpeed">4 m/s</div>
            </div>
            <div class="card ele">
                Humidity<br>
                <div class="display-6 aqi">34%</div>
            </div>
        </div>

    </div>
    <br>
    <section class="colored-section center" id="cta">
        <div class="container-fluid">
            <h3 class="big-heading">Find Weather of any City</h3>
            <form action="index3" method="get">
                <input type="text" class="textbox" name="city">
                <br>
                <br>
                <br>
                <button class="download-button btn btn-lg btn-outline-light Search" type="button"><i>Search</i></button>
            </form>
        </div>
    </section>
    <footer class="white-section" id="footer">
        <div class="container-fluid">
            <i class="social-icon fab fa-facebook-f icon "></i>
            <i class="social-icon fab fa-twitter icon"></i>
            <i class="social-icon fab fa-instagram icon"></i>
            <i class="social-icon fas fa-envelope icon"></i>
            <p>© Copyright Bhavya Anand</p>
        </div>
    </footer>
    <script>

        const cityInput = document.getElementsByClassName('textbox')[0];
        const button = document.getElementsByClassName('download-button')[0];
        const card = document.getElementsByClassName('weather-card')[0];

        button.addEventListener('click', (event) => {
            event.preventDefault();
            const city = cityInput.value;

            if (city) {
                fetch(`/index3?city=${city}`)
                    .then(response => response.json())
                    .then(data => {
                        if (!data || !data.temp || !data.windSpeed || !data.humidity) {
                            throw new Error('Invalid response from server');
                        }

                        const temperature = data.temp;
                        const windSpeed = data.windSpeed;
                        const humidity = data.humidity;

                        card.innerHTML = `<div class="date">
                                        <div class="padding">Tuesday</div>
                                        <div class="padding">11th April 2023</div>
                                        </div>
                                        <div class="display-3 padding city">${city}</div>
                                        <div class="display-1 temp padding">${temperature}&#176C</div>
                                        <div class="condition padding">15:14 &nbsp;&nbsp;&nbsp;Mostly Clear</div>
                                        <div class="contents">
                                        <div class="card ele">
                                            Sunset <br>
                                        <div class="display-6">18:25pm</div>
                                     </div>
                                        <div class="card ele">
                                        Wind Speed<br>
                                        <div class="display-6 windSpeed">${windSpeed}m/s</div>
                                        </div>
                                        <div class="card ele">
                                        Humidity<br>
                                        <div class="display-6 aqi">${humidity}%</div>
                                        </div>
                                        </div>`;
                    })
                    .catch(error => {
                        console.error(error);
                        card.innerHTML = 'Error retrieving weather data';
                    });
            }
        });

    </script>
</body>

</html>